
.header{
    display:flex;
    justify-content: space-between;
    margin:10px;
    border: 1px solid black;
    background-color: lightgray
    ;
}
.nav-items > ul{
    list-style-type: none;
    display: flex;

}
.nav-items > ul > li{
   padding: 10px;
}
.logo{
    width: 100px;
}
.card {
        border: 15px;
        width: 240px;
        border-radius: 5px;
        box-shadow: -1px 5px 10px 5px rgba(42, 42, 42, 0.2);
        padding: 10px;
        margin: 20px;
        cursor: pointer;
}

.card > img {
    width: 100%;
}
.restuarant-list{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.shimmer-card{
    display: flex;
    width: 200px;
    height: 200px;
    flex-wrap:wrap;
    background-color: gray;
    margin: 20px;

}
.menu{
    display: flex;
}




